*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    height: auto;
    background-color: white;
    overflow-x: hidden;
    padding-top: 5px;
}

@media only screen and (max-width:500px) {
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
    #container1{
        width: 100%;
        height: 60vh;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #innerContainer11{
        width: 100%;
        height: 15vh;
        /* background-color: green; */
        display: flex;
        justify-content: center;
    }

    #imgContainer{
        width: 92%;
        height: 15vh;
        /* background-color: aqua; */
        display: flex;
        align-items: center;
    }

    #mcc{
        height: 12vh;
        padding: 9px,0px;
    }

    #innerContainer12{
        width: 100%;
        height: 30vh;
        /* background-color: gray; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #headerContainer{
        width: 92%;
        height: 30vh;
        /* background-color: aqua; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #head1{
        width: 100%;
        text-align: center;
        font-size: 6.2vw;
        font-weight: bold;
        letter-spacing: 1px;
    }

    #head2{
        width: 92%;
        text-align: center;
        font-size: 3.5vw;
        font-weight: bold;
        /* background-color: aqua; */
        letter-spacing: 1px;
    }

    #innerContainer13{
        width: 100%;
        height: 15vh;
        /* background-color: blue; */
        display: flex;
        justify-content: center;
    }

    #img3Container{
        width: 92%;
        height: 15vh;
        /* background-color:aqua; */
    }

    #img3{
        position: relative;
        top: 10%;
        float: right;
    }

    #container2{
        width: 100%;
        height: 8vh;
        background-color: #007db5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navBar1{
        width: 95%;
        height: 8vh;
        display: flex;
        padding: 1.5vh;
        justify-content: right;
        align-items: center;
    }

    #menuBar{
        width: 10vw;
        height: 5vh;
        border: 1px black solid;
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menuBar:hover{
        background-color: rgb(24, 24, 24);
    }

    #lineContainer{
        width: 40%;
        height: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .lines{
        width: 100%;
        height: 0.6vw;
        border-radius: 1vw;
        background-color: white;
    }

    #line{
        width: 99.5%;
        height: 0.1vh;
        background-color: black;
        box-shadow:0px 0.5px 0px #249bd2;
        display: none;
    }

    #navBar2{
        width: 100%;
        height: 10vh;
        /* padding: 1.5vh; */
        transition: none;
        display: none;
    }
    #home{
        width: 99.5%;
        height: 7vh;
        display: flex;
        padding: 0vh 1.5vh;
        justify-content: start;
        align-items:center;
        transition: background-color 2s;
    }

    #home:hover{
        background-color: rgba(0, 0, 0, 0.3);
    }


    #homeContainer{
        height: 3vh;
        display: flex;
        justify-content: center;
    }

    #homeimg{
        height: 3vh;
        position: relative;
        top: 0.4vw;
    }

    #Home{
        color: white;
        text-decoration: none;
    }
}